/* Fonts imported from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Inria+Sans:wght@300;400;500&family=Inria+Serif:wght@400;700&family=Inter:wght@100;200;300;500;600;700&family=Istok+Web:wght@400;700&display=swap');
.fontbasic{

font-family: 'Inder', sans-serif;
font-family: 'Inria Sans', sans-serif;
font-family: 'Inria Serif', serif;
font-family: 'Inter', sans-serif;
font-family: 'Istok Web', sans-serif;
}


/* Color Variables are registered in root */
:root{
    --our-black : #000000;
    --our-red : #EC2020;
    --our-light-red-background : #FFEDED;
    --our-grey : #A2A2A2;
    --font-dark-grey:#BEB9AF;
    --our-background-grey: #F3F3F3;
    --font-about-grey:#9D9B9B;
    --our-white :#FFFF;
}

/* universal selector  */
*{
  padding: 0;
  margin: 0;

}

body{
    font-family: 'Inter', sans-serif;

}

.main-container{
  max-width: 100%;
 /*  padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;


}


.main-container hr{
    margin: 0 2% 0 2%;
}

/* Sticky header */
/* header {
	position: sticky;
	max-width: 100%;
	top: 0;
	background-color: white;
    z-index: 200;
} */

/* ------+++++++---------- */

/* buttons */
.btn-red{
    color:var(--our-white);
    text-decoration: none;
    background-color: var(--our-red);
    border: 1px solid var(--our-red);
    border-radius: 5px;
    transition: all 0.4s;

}

.btn-red:hover{

    border: 1px solid var(--our-red);
    background-color: transparent;
    color: var(--our-red);
}

.btn-outerred{
    color: var(--our-black);
    text-decoration: none;
    border: 1px solid var(--our-red);
    transition: all 0.4s;
}

.btn-outerred:hover{
   background-color: var(--our-red);
}

.btn-black{
    color: white;
    text-decoration:none;
    background-color: var(--our-black);
}
/* ---end of buttons */


/* Navbar styling */

nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--our-red);
    margin-bottom: 2px;
    
	
}

/* ## Mobile navbar menu ## */
nav .nav-mobile{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 15%;
    margin-left: -3%;
    margin-top: 8%;
    position: absolute;
    height: 800px;
    background-color: var(--our-grey);
    
}

 .hamburger-open,#menu-checkbox {
    display: none;
  }

nav .nav-mobile{
    display: none;
}

/* Close mobile nav menu , when it is opened */
 nav .nav-mobile li{
     margin-top: 25%;
   }

/* ### End of mobile navbar### */


/* 
*
*
*       ##### DESKTOP STYLE #####
*
 */


/* Desktop nav logo */
 .nav-logo-science{
    padding-left: 5%;
    padding-top: 25px;
    letter-spacing: 0;
    display: inline-flex;
    font-size: 22px;
    color: var(--our-white);
    text-decoration: none;
 }

 .science-extra-bold-sci{
     font-weight: 700;
 }

 .science-medium{
    font-weight: 500;
 }

 .science-light{
    font-weight: 300;
 }

 .science-extra-light{
    font-weight: 200;
 }
/* end of nav logo */

/* ### Desktop navbar menu ## */
nav .nav-desktop {
    display: flex;
    padding-top: 30px;
    padding-bottom: 40px;
    list-style-type: none;

}


nav .nav-desktop li{
    margin : 0 25px;
}

nav ul {
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-weight:bold;
    font-size: 15px;
    color : var(--our-white);
    transition: all 0.5s;
}

nav ul li a:hover{
   color: var(--our-black);
   text-decoration: underline;
   transition: all 0.8s;
}

/* Footer nav-menu */
 .museum-footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--our-white);
    margin-bottom: 2px;
    padding: 2%;
    
}
 .footer-logo{
    text-decoration: none;
    display: inline-flex;
 }
 .museum-footer a, .museum-footer ul{
    color: var(--our-black);
 }
 .social-media,.footer-nav{
    list-style-type:none;
 }
 .footer-nav li a,.social-media li a{
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
 }

 .social-media li a{
    font-size: 14px;
 }

 /* End of footer navmenu */




/* Main starts with jumbortron */

.jumbotron
{
    
    display: flex;
    flex-direction: column;
    background-color: var(--our-grey);

}

.jumbotron-image{
    background-image: url("images/home/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
}
.jumbotron-text{
    position: absolute;
    margin-left:10%;
    margin-top:10%;
    color:var(--our-white);



}

.jumbotron-text h1{
   font-family:'Istok Web', sans-serif;
   font-size: 40px;
   align-items: center;
}

.jumbotron-text h3{
    font-family: 'Inria Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;

}

/* -----------end of jumbotron */


/* ---Container-2 */
.container-2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: var(--our-white);
    margin-right: 3%;
    margin-top: -6%;

}
.container-2-first-part{
    padding-left: 10%;
    padding-top: 4%;
    margin-left: 4%;
    background-color: var(--our-red);
}

.container-2-first-part h5{
    font-family: 'Inria Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 7%;

}
.container-2-museum-address{
    background-color: var(--our-grey);
    font-family: 'Inria Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 15%;
    padding-left: 8%;
}

/* End of container-2 */

/* ---Container -3  */
.container-3{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2em;
    text-align:left;
    margin: 3%;

}

.container-3 img{
    max-height: auto;
	max-width: 100%;
    object-fit: cover;
}

.feature-products{
    /* grid-column :1/-1; means it accquires whole
      column */
    grid-column: 1/-1;

}
.feature-products-card{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: var(--our-red);
}

.feature-products-card h4 {
    font-size:15px;
    margin-top:20px;
    line-height: 20px;
}

.feature-products-card h2 {
   font-size: 28px; 
   margin-top: 10px;
}
.feature-products-card p{
    font-size: 15px;
    margin-top: 10px;
    color: var(--our-black);
}


/* .explore-card:hover{
    border: 2px solid var(--our-red);

} */
.btn-red.cart{
    padding: 10px 20px;
    margin-top:10px;
    margin-right:70%;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
}
/* ---end of container -3  */

/* ----Container-4--- */
.things-to-explore-container-4{
    background: linear-gradient(#FFEDED,#DCD6D6,#ffff);
}
.container-4{

    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1em;
    text-align: center;
    margin:6% 3%;
    
}

.container-4 img{
    max-height: auto;
	max-width: 100%;
    object-fit: cover;
}
.container-4 h2{
    color: var(--our-red);
    font-size: 30px;
    margin-top: 5%;
    margin-bottom:2%;
}

.container-4 h4{
   margin: 5% 0 1% 0;
   font-weight: 700;
   font-size: 17px;

}


.container-4 p{
    margin:1% 0 6% 0;
    font-weight: 400;
    font-size: 15px;

}

.container-4 a{
    font-size: 18px;
    padding: 3%;
    margin: 3% 30% 10% 30%;
}

/* --- end of container-4 */


/* Container-5 */
.container-5{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    margin:8% 3% 5% 3%;
    text-align: left;
    
}

.support-your-museum{
    grid-column: 1/-1;
    font-size: 30px;
    font-weight: 700;
    color: var(--our-red);
}

.support-your-museum-content img{
    max-height: 500px;
    max-width: 100%;
    object-fit:fill;
    flex-basis: 500px;
}


/* end of container-5 */



/* Footer section */

footer hr{
    margin: 1% 0.5% 1% 0.5%;
}

footer{
    width:100%;
}
.footer-nav{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.social-media{
    display: flex;
}

.social-media a{
    font-size: 20px;
}

.copyright-container{
    background-color: var(--our-black);
    list-style-type: none;
    width: 100%;
    text-align: center;


}

.copyright-container a{
    color: white;
    font-size: 10px;
    text-decoration: none;
    margin: 15px;
}
/* --end of footer section */

/* 
#
#
#    
#     VISIT PAGE
#
#
*/

.visit-jumbotron-image{
    background-image: url("images/visit/visit.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
    
}
  /* First visit page  museum admission container */
.visit-container{
    margin: 3%;
}

.visit-card{
    display: flex;
    flex-direction: row;
}

.visit-sub-container{
    background-color: var(--our-background-grey);
   
}

.visit-sub-container h3{
    text-align: center;
}

.container-3-text-content{
    margin: 4% -3% 4% 4%;
    z-index: 10;
    padding : 3% 2% 0 2%;
}
 
/*  Accessibility-container  */
.accessibility-card{
    display: flex;
    flex-direction: row;
    margin: 3%;
}
.accessibility-container{
    margin: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    background:var(--our-light-red-background);
}

.accessibility-text-content{
   margin-left: -8%;
   margin-top: 4%;
   margin-bottom: 4%;
   z-index: 20;
   padding: 3%;
}

.accessibility-text-content p{
    font-size: 30px;
    font-weight: 700;
}
/* end of accessibility container */


/* Food & drink container */

 .food-container{
   display: flex;
   flex-direction: row;
   padding-top: 5%;
 }
 .food-drink-text-content{
    margin: 4% -5% 4% 0;
    z-index: 15;
    padding : 3%;
 }

 .food-drink-text-content p{
    font-size: 20px;
 }



 /* end of food & drink container */

/* End of visit page */

/* 
#
#
#    
#     EVENTS PAGE
#
#
*/

.events-jumbotron-image{
    background-image: url("images/events/events.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
    
}

.event-text p {
    font-size: 23px;
    font-weight: 400;
}
/* End of visit page */
/*
#
#
#
#¤¤¤¤¤¤¤¤¤¤¤ About-Page ¤¤¤¤¤¤¤¤¤¤¤¤
#
#
#
#
*/


/* about jumbotron */

.about-jumbotron-image{
    background-image: url("images/about/about.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    max-width: 100%;
    min-height: 500px;
}
/* end of about jumbotron */

 /* about container-3 */

 .about-container-3{
    display:grid;
    grid-template-columns: 1/-1;
    text-align: center;
 }

 .about-card h3{
    margin-top:5%;
   font-size:35px;
 }

 .about-card p{
    margin-top: 3%;
    font-size:22px;
    font-weight: 600;
 }

 .mission-card{
    margin-top: 10%;
 }
 .mission-text p{
    font-size: 30px;
    font-weight: 600;
 }

 .our-vision-container{
   background:none;
 }


 /* end of about container-3 */



    /* ¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤¤ End of About-Page ¤¤¤¤¤¤¤¤¤¤¤¤ */



/* *
*
*
*   ***********Contact Page *********
*
*
*
 */

 .contact-jumbotron-image{
    background-image: url("images/contact/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
    
}
  /* contact-form */
 .contact-container-1, .contact-container-2{
    display: inline-grid;
    grid-template-columns: 4fr;

}

.contact-container-1{
    margin: 2% 7% 2% 2%;
    padding: 2%;
}

.contact-container-1 p{
    margin-bottom: 5%;
    font-size: 15px;
    font-weight: 300;
}
.contact-title{
    margin-bottom: 5%;
    font-size: 40px;
}

.contact-title span{
    text-decoration: underline;
}
.contact-container-2 input,textarea{
    width: 100%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    border: none;
    border-bottom: 1px solid var(--our-red);
    font-size: 18px;


}

.contact-container-2{
    width: 50%;
}

.contact-container-2 input{
    height: 30px;
}

.contact-container-2 input:focus, textarea:focus{
    outline: none;
    border-bottom: 2px solid var(--our-yellow);
}



/* button in contact form, align */
.contact-submit{

     margin-top: 8%;
     padding: 3% 10%;
     font-weight: 700;
}

/* container-4 of contact page */

 .contact-container-4{
    margin-top: 8%;
    margin-bottom: 10%;
    background:linear-gradient(#FFEDED,#f1e3e3,#ffff);
 }

 .contact-card{
    padding:3%;
 }
 .contact-card h3{
   font-size: 38px;
   margin-bottom: 2%;
 }

 .contact-card p{
    font-size: 23px;
 }

/* ###### END OF CONTACT PAGE ####### */




/* 
#
#
#
# BIO TECHNOLOGY PAGE
#
#
#
*/

.biotechnology-jumbotron-image{
    background-image: url("images/biotechnology/biotechnology.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px; 
}

.biotechnology-text h3{
    margin-top: 12%;
}

.biotechnology-text p{
    margin-top: 10%;
    font-size: 25px;
}


.gallery-card{
   display: flex;
   flex-direction: row;
   gap: 2rem;
   margin-top: 10%;
   margin-bottom: 10%;
   padding: 5%;
   
}
.gallery-card img{
    max-height: auto;
	max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}
/* end of bio technology page */



/* 
#
#
#
# SPACE & AVIATION PAGE
#
#
#
*/

.space-aviation-jumbotron-image{
    background-image: url("images/space_aviation/space_aviation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px; 
}

/* end of space & aviation page */


/* 
#
#
#
# LASER THEATRE PAGE
#
#
#
*/

.laser_theatre-jumbotron-image{
    background-image: url("images/laser_theatre/laser_theatre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px; 
}

/* end of laser theatre page */




/* Responsiveness Table and desktop */



@media only screen and (max-width:900px){

     /* Jumbotron section */
     
     .jumbotron-text h1{
         font-size: 35px;
      }

      .jumbotron-text h3{

         font-size: 20px;
         margin-bottom: 18px;

     }

   /* End of jumbotron section */

   /* container-2 index page */

    .container-2-museum-address h5{
        margin-top:6%;
        font-size: 20px;
    }

   /* end of container -2 index page */

   /* container-4 */
   .container-4 a{
    padding:2%;
    margin: 3% 20% 10% 20%;
   }


   .container-4 p{
    margin: 0;
    font-size: 13px;
   }
   /* end of container-4 */

   /* container-5 index page */

     .container-5{
       grid-template-columns: repeat(2,1fr);
    }

    .support-your-museum-content img{
        max-height: 400px;
        
    }
   /* end of container-5  */

    /* ############///////////
    #
    #
    #
    #%%%%%% Contact page %%%%%%%%%
    #
    #
    ################# */
    
    .contact-container-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact-container-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /* ####End of contact page */


}

/*
*
************ 760px media query *********
*
*
 */
@media only screen and (max-width: 760px){

    .main-container{
        width:100%;
     }
    

    /* Desktop navbar- menu disabled */
    nav .nav-desktop{
       display: none;
     }

     /* Mobile navbar enabled */
     
    .hamburger-open{
        display:inline;
        cursor: pointer;
        z-index: 20;
        color: var(--our-white);
        margin-left:2%;
        margin-top: 1%;
        font-size: 13px;
     }
     
    #menu-checkbox:checked ~ #mobile-nav{
       display: flex;
       z-index: 10;
      
    }
    
    .nav-logo-science{
        padding-top:10px;
        padding-bottom: 2%;
        font-size: 18px;
        margin-right: 3%;
    }
     /* end of mobile navbar */



       /* Jumbotron section */

       .jumbotron
       {
           display: flex;
           flex-direction: column;
           max-height: 350px;
       }

       /* Tablet size image for home page jumbotron */
       .jumbotron-image{
          background-image: url("tablet-images/home/home.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          max-width: 100%;
          clip-path: none;

       }

       .jumbotron-text{
        margin-top: 15%;
        color: white;
       }

       
    /* ----Container-2-----  */
     .container-2{
        margin-top: 0;
        display: flex;
        flex-direction: column;
     }
    .container-2-first-part h1{
        font-size: 22px;
    }

    .container-2-first-part h5{
        font-size: 15px;
        padding-top:2% ;
    }

    .container-2-museum-address{
        margin-left: 4%;
        margin-top: 0;
        padding-top: 5%;
    }

    .container-2-museum-address h5{
        margin-top: 0;
        margin-bottom: 5%;
    }

    /* --end of container-2 --- */



    /* -----Container-4--  */
    
    .things-to-explore-container-4{
        background: var(--our-background-grey);
    }
    .container-4{
        display: flex;
        flex-direction: column;
        margin-left:25%;
        margin-right: 25%;
        margin-bottom: 5%;
        
    }
     
   
    .explore-card img{
        max-height: 300px;
        object-fit:fill;
        border-radius: 10px;
    }
    /* ---end of container-4-- */

    /* ---Container-5 ----- */

    .support-your-museum-content img{
        max-height: 300px;
    }

    /* ---End of container-5 ---- */

    /* ----footer--- */
    .footer-logo{
        display: none;
    }
    

     nav .footer-nav{
        display: none;
      }

      nav .social-media{
        display: grid;
        grid-template-columns: 3fr 3fr 2fr;
        justify-items: center;
        width: 100%;
      }
     /* end of footer navbar */


    /* ¤
    ¤
    ¤
    ¤¤
    ¤¤
    ¤¤¤¤¤¤¤¤
    ¤¤¤¤¤¤¤¤¤¤¤¤¤ About-Page ¤¤¤¤¤¤
    ¤
    ¤¤
    ¤¤¤¤ */

    .about-jumbotron{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
    }
    .about-jumbotron-image{
        background-image: url("tablet-images/about/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        clip-path: none;
        max-width: 100%;
   }

   /* ############## end of about page ############ */



  /*######
    ###
    ###
    ### Check-Out.html page 
    ##
    #
    # */

    .checkout-produt-title{
        font-size: 18px;
    }
    
    .checkout-prodt-price{
        font-size: 16px;
    }
   /* ### end of checkout page #### */


}


/*
¤
¤ *********** 550px media query **********
¤
¤ */

@media only screen and (max-width: 550px){


    /* desktop navbar should be disable  */

     .main-container{
        width:100%;
        margin-right: auto;
        margin-left: auto;
     }

   nav .nav-mobile{
    margin-top: -5%;
   }
   
  .nav-logo-science{
    display: none;
  }  
 
 /* footer navbar */
  .footer-nav{
    display: none;
  }
  
  .social-media{
    padding-left: 15%;
  }
 /* end of footer navbar */
 
  /* Jumbotron section */
.jumbotron-image{
    object-fit: cover;
    background-image: url("mobile-images/home/home.jpg");
    min-height: 450px;
    margin-top: -10%;
}
  .jumbotron-text h1{
      margin-top: 15%;
      font-size: 25px;
     }

   .jumbotron-text h3{

    font-size: 16px;
}

  /* End of jumbotron section */


  /* ---container-2 --- */
   .container-2{
    margin-top: -5%;
   }
  .container-2 p{
    font-size: 25px;
    line-height: 30px;
 }
  /* ----end of container-2 */

   /* .....container3---- */
    .container-3{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
    }
   /* ---end of container-3 */


   /* -----Container-4--  */
   
    .container-4{
        margin-left:5%;
        margin-right:5%;
        
    }

    .container-4 img{
        object-fit: cover;
        object-position: 50% 5%;
    }

/* ---end of container-4-- */
  
/* container-5 */
 .container-5{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
 }

 .container-5 p{
    font-size: 13px;
 }
/* end of container-5 */
   /* ########## About-page ####### */

    .about-jumbotron-image{
        background-image: linear-gradient(
            to right,
            hsl(0deg 0% 0% / 70%),
            transparent 50%
        ),url("mobile-images/about/about.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

   }

   .about-txt{
     margin-top: 40%;
   }

   .about-txt h1{
    font-size: 30px;
   }
   /* ¤¤¤¤¤¤¤¤ end of about-page */

    /*######
    ###
    ###
    ### Check-Out.html page 
    ##
    #
    # */

    .checkout-title-container-1 h1{
        font-size: 25px;
    }   
    
    .section-1 h2{
        font-size:18px;
    }

    .section-1{
        width: 80%;
        margin-top: 20%;
    }

    .section-1 input{
        width: 100%;
        margin: 0%;
        padding: 1%;
    }
   
    .section-2 {
        position:absolute;
        margin-top: -83%;
        margin-left: -50% ;
    }

    .section-3{
        margin-left: 50%;
    }
    .checkout-container-2{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .payment-method-title{
        text-align: center;
        margin-top: 7%;
        font-weight: 700;
        font-size: 18px;
    }

    .credit-debit-card,.credit-card-pay{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: -3%;
    }
   
    /* End of Checkout page  */


    /* #### Product detail page ### */

    .productdetail-container-1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 2%;
        padding: 3%;
    }
  
     /* #### END Product detail page ### */

    /* ### PAYMENT SUCESSFULL PAGE */
 
   .paymentsucessfull{
    margin-top: 30%;
    margin-right: 5%;
    margin-bottom: 50%;
}
   /* ### END OF PAYMENT SUCESSFULL PAGE */
}